*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.map
*.js
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
tslint.json
coverage
node_modules
package-lock.json
npm-debug.log
*.log
node_modules
package-lock.json
lib/
